# Terraform files
.terraform
terraform.tfstate
terraform.tfvars
*.tfstate*

# OS X files
.history
.DS_Store

.idea_modules
*.iml
*.iws
*.ipr
.idea/
build/
*/build/
out/

vendor

.test-data

mock-user-data.log
