global:
  slack_api_url: 'https://hooks.slack.com/services/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'

route:
  receiver: 'slack-notifications'

receivers:
- name: 'slack-notifications'
  slack_configs:
  - channel: '#anatoly_afanasyev'
